.table {
  border-radius: 0px;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  background-color: #ffffff;
  padding: 26px 1px 31px;
  border-bottom: none;
}

.tabletop-header {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 15px;
  margin-top: 2.813rem;
}
@media (min-width: 0px) and (max-width: 1240px) {
  .table-top-header {
    height: 1.813rem;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.043rem;
    text-align: left;
    color: #2a2a2a;
  }
}

.tablegrid {
  padding-top: 8%;
  margin: auto;
  width: 100%;
}

.tablegrid_trans {
  padding-top: 8%;
  margin: auto;
  width: 990px;
}
.tableresponsive {
  width: 77.2rem;
  padding-top: 5.8rem;
  margin: auto;
}

@media (min-width: 0px) and (max-width: 767px) {
  .tableresponsive {
    padding-top: 110px;
    margin-top: 50px;
    margin: auto;
    width: 22.563rem;
  }
  .tabletop-header {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.69px;
    text-align: left;
    color: #2a2a2a;
    margin-bottom: 15px;
    margin-top: 5.813rem;
  }
}
@media (min-width: 767px) and (max-width: 1240px) {
  .tableresponsive {
    padding-top: 110px;
    margin-top: 50px;
    margin: auto;
    width: 41.5rem;
  }
}

.table-head-hash {
  margin-right: 5%;
  border: none;
  padding-left: 4%;
  /* width: 50%; */
}

.table-head-all {
  border: none;
  padding-left: 1.5%;
}

.table-row-latest-transaction {
  border: none;
  width: 100px;
}

.tablegrid2 {
  padding-top: 8%;
  margin: auto;
  width: 790px;
}
.tableheader {
  font-family: "Fira Sans";
  font-size: 0.938rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.tableheader-hash {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-left: 1.56rem;
}
.tableheader-age {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}
.tableheaders {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.034rem;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.tableheaders-contract {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.034rem;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
@media (min-width: 0px) and (max-width: 767px) {
  .table-headers {
    height: 1.063rem;
    font-family: Inter;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.034rem;
    text-align: center;
    color: #252525;
    font-weight: 500;
  }
}
@media (min-width: 767px) and (max-width: 1240px) {
  .table-headers {
    height: 1.063rem;
    font-family: Inter;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.034rem;
    text-align: center;
    color: #252525;
    font-weight: 500;
    margin-right: 130px;
  }
  .tableheaders-contract {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    margin-left: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.034rem;
    text-align: center;
    color: #252525;
    opacity: 0.8;
  }
}
.tableheaders-hash {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.tableheader-all {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}
.tableheader-txn-fee {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.tableheader-age {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}
.tableheaders-all {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .tableheaders-hash {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 115px;
  }
  .tableheaders-all {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
  }
}
.tableheaders-txn-fee {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
@media (min-width: 767px) and (max-width: 1240px) {
  .tableheaders-txn-fee {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 50px;
  }
  .tableheaders-hash {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 115px;
  }
}
@media (max-width: 1023px) {
  .Height-mobile-tab {
    height: 200px;
    border-radius: 7;
  }
}
.tableheaders-age {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}

.select-amount {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -6px;
  width: 66px;
  font-size: 0.875rem !important;
  padding: 9px 10px 9px 6px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  outline: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .select-amount {
    margin-left: 5%;
    margin-right: 5%;
    height: 2.125rem;
    width: 3.063rem;
    font-size: 0.875rem !important;
    padding: 2px;
    border-radius: 4px;
    border: solid 1px #e5e8f0;
    background-color: #ffffff;
  }
}

.tabledata {
  width: 10%;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
}
@media (min-width: 1240px) {
  .table-data {
    height: 1.063rem;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.034rem;
    text-align: left;
  }
}
.first-block-details {
  width: 10%;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}
@media (min-width: 0px) and (max-width: 1240px) {
  .first-block-details {
    height: 1.063rem;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.034rem;
    text-align: left;
    letter-spacing: 0.54px;
    opacity: 0.7;
    padding-left: 2px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
  }
}

.second-block-details {
  color: #2149b9;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}

.second-block-details:hover {
  color: #252525;
  text-decoration: none;
}

.linkTable:hover {
  color: #252525;
  text-decoration: none;
}

.linkTable {
  color: #2149b9;
}

.text {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .text {
    margin-left: 6px;
    font-size: 12px;
  }
}
.btn-contract {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  height: 60%;
  padding: 7px 10px 25px 9px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 2px;
  font-weight: bold;
}
.btn {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  height: 60%;
  padding: 7px 10px 25px 9px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 2px;
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 767px) {
  .btn-first {
    width: 3.063rem;
    height: 2.125rem;
    font-size: 12px;
  }
  .btn-back {
    width: 2.125rem;
    height: 2.125rem;
  }
  .btn-page {
    width: auto;
    height: 2.125rem;
    font-size: 12px;
  }
  .btn-next {
    width: 2.125rem;
    height: 2.125rem;
  }
  .btn-last {
    width: 3.063rem;
    height: 2.125rem;
    font-size: 12px;
  }
  .disabled {
    color: #939499;
    font-weight: bold;
    font-size: 12px;
  }
}
.disabled {
  color: #939499;
  font-weight: bold;
}

.tablegrid_address {
  padding-top: 1.563rem;
  margin: auto;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .tablegrid_address {
    padding-top: 4.5%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .select-amount {
    width: 4rem;
    height: 2.188rem;
  }
}

.linkTableDetails:hover {
  color: #252525;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600 !important;
}

.linkTableDetails {
  color: #2149b9;
  font-size: 12px;
  font-weight: 600 !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .linkTableDetails {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  .linkTableDetails {
    font-size: 0.875rem;
  }
}
.linkTableDetails-transaction {
  color: #2149b9;
  font-size: 15px;
  font-weight: 600 !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .linkTableDetails-transaction {
    font-size: 0.875rem;
    color: #4878ff;
    line-height: 0;
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  .linkTableDetails-transaction {
    font-size: 0.875rem;
  }
}

.table_1 {
  padding-top: 70px;
  margin: auto;
  width: 75.125rem;
}
@media (min-width: 0px) and (max-width: 767px) {
  .table_1 {
    width: 22.563rem;
    margin: 2rem auto;
  }
}
@media (min-width: 767px) and (max-width: 1240px) {
  .table_1 {
    width: 41.5rem;
    margin: 2rem auto;
  }
}

.Pagination {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 767px) {
  .tableheaders {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    /* margin-right: 164px; */
  }
  .tableheaders-contract {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    /* margin-right: 164px; */
  }

  .tableheaders_Transfer-table-hash {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_Transfer-table-age {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_Transfer-table-block {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_Transfer-table-from {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_Transfer-table-to {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_1 {
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 27px;
  }
  #container-table td {
    /* padding: 7px 0 6px 20px; */
    text-align: left;
    border-bottom: none !important;
    margin: 20px 21px 1.8px 48px;
    font-family: "Inter" !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.58px;
    text-align: left;
    color: #252525;
  }

  .select-amount {
    width: 65px;
    height: 34px;
    margin: -7px 13px 0 11px;
  }
  /* .select-amount {
    width: 3.125rem;
    height: 2.188rem;
  } */

  .amount-select {
    width: 67px !important;
  }
  .Pagination {
    display: flex;
    flex-direction: column;
  }
  .Pagination_1 {
    flex-grow: 0 !important;
    max-width: 70% !important;
    flex-basis: 25% !important;
    padding-bottom: 11px !important;
  }
  .Pagination_2 {
    flex-grow: 0 !important;
    max-width: 100% !important;
    flex-basis: 33.333333% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
.tableheaders_Transfer-table-hash {
  font-weight: bold !important;
}
.tableheaders_Transfer-table-age {
  font-weight: bold !important;
}
.tableheaders_Transfer-table-block {
  font-weight: bold !important;
}
.tableheaders_Transfer-table-from {
  font-weight: bold !important;
}
.tableheaders_Transfer-table-to {
  font-weight: bold !important;
}
@media only screen and (min-width: 767px) {
  .container-table {
    overflow: auto;
  }
  .Pagination_1 {
    width: 200px;
  }
  .Pagination {
    display: flex;
    justify-content: space-between;
  }
  .pl--1 {
    margin-left: -8.5% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 1024px) {
  /* .table_1 {
    padding-top: 70px;
    margin-left: 17%;
    margin-right: 17%;
    width: auto;
  } */

  .w-1 {
    width: 23%;
  }
  .w-2 {
    width: 17%;
  }
  .w-3 {
    width: 18%;
  }
  .w-4 {
    width: 17%;
  }
  .w-5 {
    width: 13%;
  }
  .Pagination_1 {
    width: 12.5rem;
  }
  .Pagination {
    display: flex;
    justify-content: space-between;
  }
  .pl--1 {
    margin-left: -8.5% !important;
  }
}
.bord-none {
  border: none;
}
@media (min-width: 1024px) {
  .pad-left-7 {
    padding-left: 7px;
  }
}
@media (min-width: 1024px) {
  .pad-left-6 {
    padding-left: 6px;
  }
}

@media (min-width: 1024px) {
  .pad-left-4 {
    padding-left: 4px;
  }
}
@media (min-width: 1240px) {
  .pad-bottom-34 {
    padding-bottom: 34px;
  }
}

.pad-left-5 {
  padding-left: 5px;
}

.fc-2149b9 {
  color: #2149b9;
}
@media (min-width: 300px) and (max-width: 1300px) {
  .table_12 {
    width: auto !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (min-width: 767px) and (max-width: 1240px) {
  .tableheaders_1_address {
    margin-left: 11px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
  }
  .tableheaders_1 {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 1;
    margin-right: 27px;
  }
}
@media (min-width: 0px) and (max-width: 766px) {
  .tableheaders_1_address {
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 27px;
  }
}
