.table {
  border-radius: 10px;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  padding: 26px 1px 31px;
}

.tabletop-header {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 15px;
}
.tablegrid {
  padding-top: 5%;
  margin: auto;
  width: 80%;
}

.tableheaders {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.select-amount {
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
  padding: 9px 10px 9px 6px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  font-size: 14px;
}

.tabledata {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
}
.linkTable:hover {
  color: #252525;
  text-decoration: none;
}
.linkTable {
  color: #2149b9;
}
.text {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
}

.btn {
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 3px;
  font-weight: bold;
  opacity: 0.8;
}

.disabled {
  color: #939499;
  font-weight: bold;
}
