.table {
  border-radius: 0px;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  background-color: #ffffff;
  padding: 26px 1px 31px;
  border-bottom: none;
}

.tabletop-header {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 15px;
}

.tablegrid {
  padding-top: 8%;
  margin: auto;
  width: 100%;
}

.tablegrid_trans {
  padding-top: 8%;
  margin: auto;
  width: 990px;
}
.tableresponsive {
  width: 990px;
  padding-top: 8%;
  margin: auto;
}

@media (max-width: 1023px) {
  .tableresponsive {
    padding-top: 110px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
  }
}

.table-head-hash {
  margin-right: 5%;
  border: none;
  padding-left: 4%;
  /* width: 50%; */
}

.table-head-all {
  border: none;
  padding-left: 1.5%;
}

.table-row-latest-transaction {
  border: none;
  width: 100px;
}

.tablegrid2 {
  padding-top: 8%;
  margin: auto;
  width: 790px;
}

.tableheaders {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.tableheaders-hash {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 115px;
}
@media (max-width: 640px) {
  .tableheaders-hash {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 115px;
  }
  .tableheaders-all {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 50px;
  }
}
.tableheaders-txn-fee {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
@media (max-width: 1023px) {
  .tableheaders-txn-fee {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    /* margin-right: 100px; */
  }
}
@media (max-width: 1023px) {
  .Height-mobile-tab {
    height: 200px;
    border-radius: 7;
  }
}
.tableheaders-age {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
  margin-right: 50px;
}

.select-amount {
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
  padding: 9px 10px 9px 6px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  font-size: 14px;
}

.tabledata {
  width: 10%;
  font-family: Inter;
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
}

.first-block-details {
  width: 10%;
  font-family: Inter;
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}

.second-block-details {
  color: #2149b9;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}

.second-block-details:hover {
  color: #252525;
  text-decoration: none;
}

.linkTable:hover {
  color: #252525;
  text-decoration: none;
}

.linkTable {
  color: #2149b9;
}

.text {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
}

.btn {
  font-family: Inter;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 2px;
  font-weight: bold;
  opacity: 0.8;
}

.disabled {
  color: #939499;
  font-weight: bold;
}

.tablegrid_address {
  padding-top: 1.5%;
  margin: auto;
  width: 100%;
}

.linkTableDetails:hover {
  color: #252525;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600 !important;
}

.linkTableDetails {
  color: #2149b9;
  font-size: 12px;
  font-weight: 600 !important;
}

.table_1 {
  padding-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}
@media (max-width: 1023px) {
  .table_1 {
    margin-top: 80px !important;
  }
}

.Pagination {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 665px) {
  .tableheaders {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 164px;
  }
  .tableheaders_Transfer-table-hash {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 60px;
  }
  .tableheaders_Transfer-table-age {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    padding-left: 10px;
    margin-right: 50px;
  }
  .tableheaders_1 {
    font-family: "Fira Sans";
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #252525;
    opacity: 0.8;
    margin-right: 27px;
  }
  #container-table td {
    padding: 7px 0 6px 20px;
    text-align: left;
    border-bottom: none !important;
    margin: 19px 21px 1.8px 48px;
    font-family: "Inter" !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.58px;
    text-align: left;
    color: #252525;
  }
  .select-amount {
    width: 63px;
    height: 28px;
  }
  .Pagination {
    display: flex;
    flex-direction: column;
  }
  .Pagination_1 {
    flex-grow: 0 !important;
    max-width: 70% !important;
    flex-basis: 25% !important;
  }
  .Pagination_2 {
    flex-grow: 0 !important;
    max-width: 92.333333% !important;
    flex-basis: 33.333333% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 666px) {
  .container-table {
    overflow: auto;
  }
  .Pagination_1 {
    width: 163px;
  }
  .Pagination {
    display: flex;
    justify-content: space-between;
  }
  .pl--1 {
    margin-left: -8.5% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 1100px) {
  .table_1 {
    padding-top: 70px;
    margin-left: 17%;
    margin-right: 17%;
    width: auto;
  }
  .w-1 {
    width: 23%;
  }
  .w-2 {
    width: 17%;
  }
  .w-3 {
    width: 18%;
  }
  .w-4 {
    width: 17%;
  }
  .w-5 {
    width: 13%;
  }
  .Pagination_1 {
    width: 163px;
  }
  .Pagination {
    display: flex;
    justify-content: space-between;
  }
  .pl--1 {
    margin-left: -8.5% !important;
  }
}
