.table {
  border-radius: 0px;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  background-color: #ffffff;
  padding: 26px 1px 31px;
  border-bottom: none;
}

.tabletop-header {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 15px;
}
.tablegrid {
  padding-top: 8%;
  margin: auto;
  width: 100%;
}
.tablegrid_trans {
  padding-top: 8%;
  margin: auto;
  width: 990px;
}
.tablegrid2 {
  padding-top: 8%;
  margin: auto;
  width: 790px;
}
.tableheaders {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #252525;
  opacity: 0.8;
}
.select-amount {
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
  padding: 9px 10px 9px 6px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  font-size: 14px;
}

.tabledata {
  width: 10%;
  font-family: Inter;
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
}
.first-block-details {
  width: 10%;
  font-family: Inter;
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  opacity: 0.7;
  padding-left: 2px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}
.second-block-details {
  color: #2149b9;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: inherit;
  animation-fill-mode: forwards;
}
.second-block-details:hover {
  color: #252525;
  text-decoration: none;
}
.linkTable:hover {
  color: #252525;
  text-decoration: none;
}
.linkTable {
  color: #2149b9;
}
.text {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
}

.btn {
  font-family: Inter;

  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #252525;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 2px;
  font-weight: bold;
  opacity: 0.8;
}

.disabled {
  color: #939499;
  font-weight: bold;
}
.tablegrid_address {
  padding-top: 1.5%;
  margin: auto;
  width: 100%;
}
.linkTableDetails:hover {
  color: #252525;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600 !important;
}
.linkTableDetails {
  color: #2149b9;
  font-size: 12px;
  font-weight: 600 !important;
}
