@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    background-color: #ffffff;
}

body, button, html, input, select, textarea, div, p, span, label {
    font-family: "Inter" !important;
}

html, body {
    width: 100%;
    height: 100%;
}

body, button, html, input, select, textarea, div, p, span, label {
    font-family: "Inter" !important;
}

input:focus {
    border: solid 1px #0099ff;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

/*Cursor-CSS*/

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/*Borders*/
.b-1-blue {
    border: 1px solid #0052cc;
}

.b-1-white {
    border: 1px solid #e6e6e6;
}

/*Border-radius*/
.br-4 {
    border-radius: 4px;
}

/*Font-sizes*/

.fs-sm {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-40 {
    font-size: 40px;
}

/*Font-color*/

.fc-warm-grey {
    color: #999999;
}

.fc-blue {
    color: #0052cc !important;
}

.fc-dark-slate-blue {
    color: #172b4d;
}

.fc-white {
    color: #ffffff !important;
}

.fc-black {
    color: #000000;
}

.fc-blue-grey {
    color: #5e6c84;
}

.fc-red {
    color: red;
}

.fc-brownish-grey {
    color: #666666;
}

.fc-dusky-blue {
    color: #465d85;
}

/*Background-color*/

.bg-blue {
    background-color: #0052cc !important;
}

/*Width-CSS*/

.outline-none {
    outline: none !important;
}

/*Width-CSS*/

.w-150 {
    width: 150px;
}

.w-450 {
    width: 450px;
}

.w-250 {
    width: 250px;
}

.z-index-100 {
    z-index: 100;
}

.text-transform-capitalize {
    text-transform: capitalize !important;
}

.input-border {
    border: solid 1px #dfe1e6;
    border-radius: 2px;
    background-color: #fafbfc;
}

.checkbox-border {
    border-radius: 2px;
    border: solid 1px #b9bbc2;
    background-color: #ffffff;
}

.subscription-plan-card-shadow {
    box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.07);
}
/* Tab for graph in the blockChain data dashboard */


body {
  background: #fff;
}
.days p{
  width: 45px;
  height: 16px;
  font-size: 10px;
  color: #2a2a2a;
  border: none;
  border-radius: 4px;
  background-color: #e3e7eb;
  background-size: cover;
  font-family: "Inter" !important;
  font-weight: 600;
  padding-left: 2.5px;
}
.block{
  justify-content: space-between;
  display: flex;
  border-bottom: solid 1px #e3e7eb;
  width: 100%;
  height: 22px;
}
.dates{
  display: flex;
  justify-content: space-between;
}
.dates p{
  font-size: 10px;
  font-family: Inter;
  font-size: 9px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #b5bac7;
  letter-spacing: 0.50px;
}

.bloc-tabs {
 width: 90%;
  display: flex;
}

.tabs { 
  padding-bottom: 7px;
  color: #b5bac7;
  text-align: center;
  width: 80%;
  cursor: pointer;
  position: relative;
  font-size: 11px;
  background: #fff;
  cursor: pointer;
  padding-left: 0.5px;
  margin: -3px 20px 1px 0.5px;
font-weight: 600;
letter-spacing: 0.65px;
}


.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  background: #fff;
  border: none;
  padding: 0 20px;
}



button {
  border: none;
}

.content {
  padding-top: 10px;
    background: white;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
  width: 100%;
}

.active-tabs  {
   color: #2149b9;
   
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 73.5px;
  height: 1px;
  border: solid 1px #2149b9;
  background: #2149b9;
}

.data_value_red{
    color: red;
    /* transform: rotate(180deg); */
}
.data_value_green{
    color: #02c227;
    background: "#1DA1F2"
}
.arrow_up{
    color: #02c227;
   
}
.arrow_down{
    color: #f70a0a;
}
.value_changePrice{
    font-weight:600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: right;
  color: #f70a0a;
    margin-left: 4px;
    margin-top: -3px;
    margin-right: 5.5px;;

}
.value_p{
    font-weight:600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.58px;
  color: #02c227;
    margin-left: 4px;
    margin-top: -1.5px;
}
.last_value{
    display: flex;
}

/* LAtest BLock*/

.latestblock{
  width: 430px;
  height: 440px;
 
 
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;

}
.latest{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.latest h1{
  width: 40%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  color: #2a2a2a;
}
.latest button{
  width: 70px;
  height: 20px;
  background-color:#fff;

  font-family: Inter;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #2149b9;
}
.data{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}
.data_heading{
    display: flex;
    justify-content: space-between;
}
.data_heading p{
    font-weight: 800;
    font-size: 12px;
    width: 40%;
    height: 10px;
}

.block_main{
    justify-content: space-between;
    display: flex;
    width: 900px;
    margin: 0 auto;
}
.latestTranscation{
     width: 430px;
  height: 440px;
  
 
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
}