@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

label {
  font-family: "Inter" !important;
}

label {
  font-family: "Inter" !important;
}

.footer_base {
  width: 100% !important ;
  background: linear-gradient(to bottom, #2149b9, #3e71ff);
  margin: 40px 0 0;
  padding: 4%;
  padding-bottom: 1%;
  padding-right: 7%;
  padding-left: 7%;
}

.footer {
  padding-left: 10px;
  background: transparent;
  /* background-color: red; */
  padding-right: 10px;
}

.footer-line {
  margin-top: 15px;
  padding-left: 9%;
  background: transparent;
  padding-right: 9%;
}

.twitter {
  font-size: 0px !important;
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  border: none !important;
}

.footer-items {
  background: transparent;
}

.dropdown {
  width: max-content;
}

.dropdown:hover {
  color: blue;
}

ul {
  list-style-type: none;
  float: left;
}

.copyright {
  align-self: left;
  font-family: Inter;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #81b4ff;
  opacity: 0.8;

  padding-top: 15px !important;
}

.Nmode {
  width: 33px;
  padding: 8px 8px 7px;
  border-radius: 4px;
  background-color: #2149b9;
}

.footer-line hr {
  border: solid 0.1px #81b4ff;
  opacity: 0.8;
  margin-bottom: 5px !important;
}

.Table-Header hr {
  border: solid 0.1px #81b4ff;
  opacity: 0.8;
  margin-top: 5px !important;
}

.USD {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.54px;
  color: #ffffff;
  margin-left: 4px;
}

.USD:hover {
  color: #ffffff;
}
.xdc-logo {
  width: 16%;
  margin-top: -10px;
}

.headers {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #ffffff;
}

.select-icon {
  padding-left: 0px;
  width: 20px;
  height: 20px;
}
.inline {
  display: inline;
}

.Table-Header {
  margin-top: -15px;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 0.8;
}

.Table-Comp {
  margin-left: -40px;
  font-size: 11px;
}

a {
  font-family: Inter;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.54px;
  color: #81b4ff;
}

a:hover {
  font-size: 11px;
  color: white;
  text-decoration: none;
}

.a-style {
  margin-left: -6px;
}
.timeline-widget .timeline-body {
  border-top: none !important;
  border-bottom: none !important;
}
.form-control {
  width: auto;
}
.select-form {
  width: 90px;
  height: 29px;
  margin: 19px 13px 189.7px 1px;
  padding: 7px 7px 6px 9px;
  border-radius: 4px;
  background-color: #2149b9;
}
.select-xdc {
  color: #ffffff;
  height: 32px;
  width: 90px;
  margin: 24px 13px 19.7px 1px;
  padding: 7px 7px 6px 9px;
  border-radius: 4px;
  background-color: #2149b9;
}

.title-icon {
  width: 30px;
  height: 30px;
  margin: 0 8px 15px 1px;
  padding: 9px 10px 10px;
  border: solid 2px #ffffff;
}

/* .Shape-footer{
    margin-left: -40px;
} */

.Top-Header {
  margin-top: -15px;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #ffffff;
}

/* .Table-Header {
    margin-top: -15px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    color: #ffffff;
    opacity: 0.8;
} */

.XDC-Header {
  margin-top: -23px;
  margin-left: 17%;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #ffffff;
}
/* .MuiMenu-list {
  outline: 0;
  background-color: #2149b9;
} */
.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.select-xdc .MuiSvgIcon-root {
  fill: #ffffff !important;
}
.select-xdc .MuiSelect-select.MuiSelect-select {
  padding-right: 0px !important;
}
.MuiSelect-select:focus {
  background-color: transparent !important;
}
.MuiInput-underline:after {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  content: "" !important;
  position: absolute !important;
  transform: scaleX(0) !important;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: none !important;
  pointer-events: none;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}
.xdc-desc {
  /* margin-left: -49px; */
  width: 95%;
  margin-top: 20px;
  font-family: Inter;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.54px;
  color: #81b4ff;
  /* margin-left: -20px;
   font-family: Inter;
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.29;
   letter-spacing: 0.54px;
   color: #81b4ff; */
}
