.table {
  border-radius: 4px;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  padding: 26px 1px 31px;
}

.tabletop-header {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  color: #2a2a2a;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-left: 3px;
}
.tablegrid {
  padding-top: 5%;
  margin: auto;
  width: 80%;
}

.tableheaders {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #2a2a2a;
  width: 70%;
  margin-left: 20px;
}

.select-amount {
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
  padding: 9px 10px 9px 6px;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  background-color: #ffffff;
  font-size: 14px;
}

.tabledata {
  font-family: Inter;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  opacity: 0.7;
  width: 100%;
  margin-left: -30px;
}

.text {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  color: #2a2a2a;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
}

.btn {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  color: #2a2a2a;
  border-radius: 4px;
  border: solid 1px #e5e8f0;
  margin: 3px;
  font-weight: bold;
  opacity: 0.8;
  padding-left: 1px;
}

.disabled {
  color: #e5e8f0;
  font-weight: bold;
}
