/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.maindiv {
  /* display:flow-rot;
  height: 80%;
  width: 50%; */
  margin-top: 72px;
}
.divbox {
  width: 100vw;
  display: flex;
  /* padding: 0px 200px; */
  justify-content: center;
  flex-flow: wrap;
}
.innerdiv {
  width: 100vw;
  padding: 40px 10px;
  justify-content: space-around;
}
.mywatch {
  /* width: 100px; */
  height: 19px;
  /* margin: 65px 56.5px 10.5px 200px; */
  padding-left: 210px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.58px;
  text-align: center;
  color: #2149b9;
}
.txnprivate {
  /* width: 127px; */
  height: 19px;
  /* margin: 65px 67.5px 10.5px 8.5px; */
  padding-left: 30px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.58px;
  text-align: center;
  color: #6b7482;
}
.searchdiv {
  /* padding: 0px 200px; */
  display: flex;
  justify-content: space-between;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #000; */
}
.searchBar {
  border-radius: 8px;
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  width: 172px;
  height: 35px;
  outline: none;
  margin-left: 24px;
}
.searchinput {
  margin-top: 1px;
  width: 138px;
  height: 30px;
  border-radius: 4px;
  outline-color:#fff;
  border: none;
  padding-left: 5px;
}

/* input:focus {
  border: none !important;
  outline: none !important;
} */

.line {
  width: 1202px;
  height: 1px;
  margin-top: -1px;
  margin-bottom: 19px;
  border: solid 1px #e3e7eb;
  margin-left: auto;
  margin-right: auto;
}
/* .griddiv {
 width: 100vw;
 display: flex;
 justify-content: center;
}
.innerdhgiv{
  width: 60vw;
  background-color: red;
} */
.griddiv {
  width: 1202px;
  height: 51vh;
  /* margin: 10px 190px; */
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.PrivateTabIndicator-colorSecondary-58 {
  background-color: #4415eb;
}
.address {
  /* width: 142px; */
  height: 19px;
  /* margin: 65px 314px 10.5px 2px; */
  padding-left: 30px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.58px;
  text-align: center;
  color: #6b7482;
}
.heading {
  /* padding-left: -40px !important; */
  /* width: -2px;
height: 61px;
margin: 50px 15px 28px 20px;
background-color: #ffffff; */
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 53px -319px -18px -237px; */
  /* margin: 50px -150px -28px -200px; */
  /* margin-left: -170px;
margin-top: 30px; */

  /* width: 1920px;
height: 1120px;
padding: 0 0 66px;
background-color: #ffffff; */
}
.icon {
  /* width: -20px;
height: 61px;
margin: 19px 15px 28px 359px; */

  width: 61px;
  height: 61px;
  margin: 19px 15px 0 20px;

  /* width: 1920px;
height: 1120px;
padding: 0 0 66px;
background-color: #ffffff; */
}
.profileicon {
  height: 0px;
  width: 0px;
}
.welcome {
  width: 190px;
  height: 21px;
  margin: 29px 15px 3px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a2a2a;
}
.nameicon {
  display: inline-flex;
  margin-left: -20px;
}
.noticon {
  /* width: 19px;
height: 22px;
margin: 30px 74px 1px 15px;
background-color: #4878ff; */

  width: 19px;
  height: 22px;
  margin: 30px 4px 1px -25px;
  /* background-color: #4878ff; */
}
.edit {
  width: 78px;
  height: 19px;
  margin: 1px 25.5px 36px -2px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2149b9;
}
.name {
  width: 190px;
  height: 21px;
  margin: 29px 15px 3px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a2a2a;
}
.div1,
.div2,
.div3 {
  width: 372px;
  height: 187px;
  padding: 25px 25px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
  margin-left: 22px;
  margin-right: 22px;
}
.imagediv1 {
  width: 49px;
  height: 42px;
  margin-top: -2px;

  /* background-color: #3437e7; */
}
.headingdiv1 {
  width: 136px;
  height: 20px;
  margin: 18px 181px 11px 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.paradiv1 {
  width: 320px;
  /* height: 51px;
  margin: 11px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #d3dfff;
  /* display: flex; */
}
/* 
.div2 {
  width: 372px;
  height: 187px;
  margin: 28px 43px 65px 43px;
  padding: 22px 27px 35px 28px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
} */
.imagediv2 {
  width: 44px;
  height: 47px;
  margin-top: -5px;
  /* margin: 7px 283px 18px 0; */
  /* border: solid 0.5px #ffffff; */
  /* background-color: #ffffff; */
}
.headingdiv2 {
  width: 176px;
  height: 20px;
  margin: 18px 141px 11px 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.paradiv2 {
  width: 320px;
  /* height: 34px;
  margin: 11px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #d3dfff;
}
/* .div3 {
  width: 372px;
  height: 187px;
  margin: 28px 359px 65px 43px;
  padding: 28px 23px 35px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
} */
.imagediv3 {
  width: 44px;
  height: 45px;
  margin-top: -5px;

  /* border: solid 0.8px #ffffff;
  background-color: #ffffff; */
}
.headingdiv3 {
  width: 246px;
  height: 20px;
  margin: 16px 71px 11px 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.paradiv3 {
  width: 320px;
  /* height: 34px;
  margin: 11px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; */
  color: #d3dfff;
}

@media screen and (max-width: 1920px) {
  .heading {
    max-width: 1250px;
    width: 100%;
  }
  .divbox {
    max-width: 100vw;
    width: 100%;
  }
  .div1, .div2, .div3 {
    max-width: 372px;
    width: 100%;
  }
  .paradiv1,.paradiv2,.paradiv3 {
    max-width: 320px;
    width: 100%;
  }
  .line {
    max-width: 1202px;
    width: 95%;
  }
  .searchdiv {
    max-width: 1248px;
    width: 100%;
  }
  .griddiv {
    max-width: 1202px;
    width: 100%;
  }
}

@media screen and (max-width: 1242px) {
  .div3 {
    margin-top: 44px;
  }
}
@media screen and (max-width: 1023px) {
  .heading {
    margin-top: 122px;
  }
}
@media screen and (max-width: 828px) {
  .heading {
    max-width: 710px;
    margin-top: 180px;
  }
  /* .divbox {
    
  } */
  .div1 {
    max-width: 313px;
    width: 100%;
    height: 157px;
    /* margin-top: 44px; */
  }
  .div2 {
    max-width: 313px;
    width: 100%;
    height: 157px;
    /* margin-top: 44px; */
  }
  .div3 {
    max-width: 313px;
    height: 157px;
    width: 100%;
    margin-top: 44px;
    margin-left: unset;
    margin-right: 360px;
  }
  .imagediv1 {
    margin-top: -7px;
  }
  .imagediv2, .imagediv3 {
    margin-top: -11px;
  }
  .headingdiv1, .headingdiv2, .headingdiv3 {
    font-size: 14px;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 11px;
  }
  .paradiv1,.paradiv2,.paradiv3 {
    width: 272px;
    line-height: 1;
  }
  .line {
    max-width: 664px;
    width: 92%;
  }
  .searchdiv {
    max-width: 710px;
    width: 100%;
  }
  .griddiv {
    max-width: 664px;
    width: 100%;
    overflow-x: scroll;
  }
  .tablegrid_address {
    width: 1300px;
  }
}
@media screen and (max-width: 714px) {
  .div1,
  .div2,
  .div3 {
    max-width: 361px;
    height: 157px;
    padding: 25px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #213d8b;
    margin: 9px 7px 9px 7px; 
  }
  .line {
    max-width: 375px;
    width: 95%;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    margin-top: 197px;
    margin-bottom: -13px;
  }
  .tablegrid_address {
    width: 750px;
  }
}

@media screen and (max-width: 376px) {
  .heading{
    margin-left: -17px;
  }
  .searchBar{
    margin-left: 7px;
  }
  .griddiv {
    width: 361px;
    margin-left: -17px;
  }
  .tablegrid_address {
    width: 750px;
  }
}