/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.maindiv {
  /* display:flow-rot;
  height: 80%;
  width: 50%; */
  margin-top: 40px;
}

.profile-icon {
  height: 60px !important;
  width: 60px !important;
}
.divbox {
  margin-top: 40px;
  display: flex;
  padding: 0px 40px;
  flex-flow: wrap;
  gap: 40px;
}

@media (max-width: 710px) {
  .divbox {
    padding: 0px 10px;
    gap: 10px;
  }
  .profile-icon {
    height: 38px !important;
    width: 38px !important;
  }
}

.innerdiv {
  width: 100vw;
  padding: 40px 10px;
  justify-content: space-around;
}
.mywatch {
  /* width: 100px; */
  height: 19px;
  /* margin: 65px 56.5px 10.5px 200px; */
  padding-left: 210px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #2149b9;
}
.txnprivate {
  /* width: 127px; */
  height: 19px;
  /* margin: 65px 67.5px 10.5px 8.5px; */
  padding-left: 30px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #6b7482;
}
.searchdiv {
  /* padding: 0px 200px; */
  display: flex;
  justify-content: space-between;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #000; */
}
.searchBar {
  border-radius: 8px;
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  width: 172px;
  height: 35px;
  outline: none;
}
.searchinput {
  margin-top: 1px;
  width: 138px;
  height: 30px;
  border-radius: 4px;
  outline-color: #fff;
  border: none;
  padding-left: 5px;
}

/* input:focus {
  border: none !important;
  outline: none !important;
} */

.line {
  width: 1202px;
  height: 1px;
  margin-top: -1px;
  margin-bottom: 19px;
  border: solid 1px #e3e7eb;
  margin-left: auto;
  margin-right: auto;
}
/* .griddiv {
 width: 100vw;
 display: flex;
 justify-content: center;
}
.innerdhgiv{
  width: 60vw;
  background-color: red;
} */
.griddiv {
  width: 1202px;
  /* height: 51vh; */
  /* margin: 10px 190px; */
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e7eb;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.PrivateTabIndicator-colorSecondary-58 {
  background-color: #4415eb;
}
.PrivateTabIndicator-colorPrimary-91 {
  background-color: #2149b9;
}
.address {
  /* width: 142px; */
  height: 19px;
  /* margin: 65px 314px 10.5px 2px; */
  padding-left: 30px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #6b7482;
}
.heading {
  /* padding-left: -40px !important; */
  /* width: -2px;
height: 61px;
margin: 50px 15px 28px 20px;
background-color: #ffffff; */
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 53px -319px -18px -237px; */
  /* margin: 50px -150px -28px -200px; */
  /* margin-left: -170px;
margin-top: 30px; */

  /* width: 1920px;
height: 1120px;
padding: 0 0 66px;
background-color: #ffffff; */
}
.icon {
  /* width: -20px;
height: 61px;
margin: 19px 15px 28px 359px; */

  width: 61px;
  height: 61px;
  margin: 19px 15px 0 20px;

  /* width: 1920px;
height: 1120px;
padding: 0 0 66px;
background-color: #ffffff; */
}
.profileicon {
  height: 0px;
  width: 0px;
}
.welcome {
  margin: 29px 15px 3px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #2a2a2a;
}
.nameicon {
  display: inline-flex;
  margin-left: -20px;
}
.noticon {
  /* width: 19px;
height: 22px;
margin: 30px 74px 1px 15px;
background-color: #4878ff; */
  height: 22px;
  cursor: pointer;
  /* background-color: #4878ff; */
}
/* .noticonDiv{
  margin-top: 9px;
} */
@media screen and (max-width: 767px) {
  .noticon {
    height: 20px;
    width: 18px;
    /* margin-bottom: 0px; */
    /* margin-right: 11px; */
  }
  .searchBar {
    border-radius: 8px;
    border: solid 1px #e3e7eb;
    background-color: #ffffff;
    width: 172px;
    height: 35px;
    outline: none;
  }
  .griddiv {
    width: 100% !important;
  }
}
.notificationBell {
  margin-top: 30px;
}
.edit {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  cursor: pointer;
  color: #2149b9;
}
.name {
  width: 190px;
  height: 21px;
  margin: 29px 15px 3px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #2a2a2a;
}
.div1,
.div2,
.div3 {
  width: 385px;
  height: 187px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
}
.imagediv1 {
  height: 45px;
  /* background-color: #3437e7; */
}
.headingdiv1 {
  height: 20px;
  /* margin: 18px 181px 11px 0; */
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #ffffff;
}

.paradiv1 {
  font-size: 14px;
  width: 320px;
  font-family: Inter;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #d3dfff;

  /* height: 51px;
  margin: 11px 0 0;
  /* display: flex; */
}
/*
.div2 {
  width: 372px;
  height: 187px;
  margin: 28px 43px 65px 43px;
  padding: 22px 27px 35px 28px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
} */
.imagediv2 {
  width: 44px;
  height: 47px;
  margin-top: -5px;
  /* margin: 7px 283px 18px 0; */
  /* border: solid 0.5px #ffffff; */
  /* background-color: #ffffff; */
}
.headingdiv2 {
  width: 235px;
  height: 21px;
  /* margin: 18px 141px 11px 0; */
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #ffffff;
}

@media (max-width: 1200px) {
  .paradiv1 {
    font-size: 13px;
  }
}
.paradiv2 {
  width: 320px;
  /* height: 34px;
  margin: 11px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
   */
  color: #d3dfff;
}
/* .div3 {
  width: 372px;
  height: 187px;
  margin: 28px 359px 65px 43px;
  padding: 28px 23px 35px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #213d8b;
} */
.imagediv3 {
  width: 44px;
  height: 45px;
  margin-top: -5px;

  /* border: solid 0.8px #ffffff;
  background-color: #ffffff; */
}
.headingdiv3 {
  width: 246px;
  height: 20px;
  margin: 16px 71px 11px 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #ffffff;
}
.paradiv3 {
  width: 320px;
  /* height: 34px;
  margin: 11px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
   */
  color: #d3dfff;
}

.tabledata1 {
  width: 10%;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  opacity: 1;
}
.tabledata-1 {
  width: 10%;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  opacity: 1;
  color: #2a2a2a;
}
.tabledataWatchlist {
  width: 10%;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: left;
  opacity: 1;
  padding-left: 12px;
}
.tableheaders-1 {
  font-family: Inter !important;
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #2a2a2a;
  opacity: 1;
  line-height: 2;
  display: flex;
  white-space: nowrap;
}
.tableheadersWatchlist {
  font-family: Inter !important;
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  text-align: center;
  color: #2a2a2a;
  opacity: 1;
  line-height: 2;
  padding-left: 12px;
}
.linkTable1:hover {
  color: #252525;
  text-decoration: none;
}
.table > :not(:first-child) {
  border: 0px;
}

.linkTable1 {
  color: #2149b9;
  line-height: 0;
}

.learnMoreText {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .heading {
    max-width: 1250px;
    width: 100%;
  }
  .divbox {
    width: 100%;
  }

  .paradiv1,
  .paradiv2,
  .paradiv3 {
    max-width: 320px;
    width: 100%;
  }
  .line {
    max-width: 1202px;
    width: 100%;
  }
  .searchdiv {
    max-width: 1248px;
    width: 100%;
  }
  .griddiv {
    max-width: 1202px;
    width: 100%;
    overflow-x: auto;
  }
}

.imageParentDiv {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 10px;
}

@media screen and (max-width: 1240px) {
  .heading {
    margin-top: 122px;
  }
  .div1 {
    width: 316px;
  }
}
@media screen and (max-width: 828px) {
  .heading {
    max-width: 710px;
    margin-top: 180px;
  }
  /* .divbox {

  } */

  .div2 {
    max-width: 313px;
    width: 100%;
    height: 157px;
    /* margin-top: 44px; */
  }
  .div3 {
    max-width: 313px;
    height: 157px;
    width: 100%;
    /*margin-top: 44px;*/
    margin-left: unset;
    margin-right: 360px;
  }

  .imageParentDiv {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 5px;
  }

  .imagediv1 {
    margin-top: -15px;
  }
  .imagediv2,
  .imagediv3 {
    margin-top: -16px;
  }
  .headingdiv1,
  .headingdiv2,
  .headingdiv3 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-size: 12px;
    height: 15px;
    margin-bottom: 20px;
  }

  .line {
    max-width: 664px;
    width: 100%;
  }
  .searchdiv {
    max-width: 710px;
    width: 100%;
  }
  .griddiv {
    /* max-width: 664px; */
    width: 100%;
    overflow-x: scroll;
  }
  .tablegrid_address_contract {
    width: 1300px;
  }
  .learnMoreText {
    font-size: 10px;
    color: #81b4ff;
    display: block;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
  }
}
@media screen and (max-width: 767px) {
  /* .div1,
  .div2,
  .div3 {
    width: 28.125vw;
    height: 137px;
    padding: 25px 10px 25px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #213d8b;
    margin: 9px 7px 9px 7px;
  } */
  .line {
    /* max-width: 375px; */
    width: 100%;
  }
  .div1 {
    width: 100%;
    height: 165px;
    align-items: center;
    /* margin-top: 44px; */
    /* padding: 20px 10px 0px 10px; */
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    margin-top: 197px;
    margin-bottom: -13px;
  }
  .tablegrid_address_contract {
    width: 750px;
  }
}

@media screen and (max-width: 376px) {
  .heading {
    margin-left: -11px;
  }
  .searchdiv {
    /* padding-left: 20px; */
  }
  .griddiv {
    /* width: 361px; */
    width: 21rem;
  }
  .tablegrid_address_contract {
    width: 750px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .icon {
    width: 40px;
    height: 40px;
  }
  .welcome {
    font-size: 16px;
    margin-top: 21px;
  }
  .edit {
    font-size: 13px;
    cursor: pointer;
  }

  .heading {
    margin-top: 161px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .paradiv1,
  .paradiv2,
  .paradiv3 {
    width: 272px;
    line-height: 1;
    display: none;
  }
  .div1 {
    width: 100%;
    height: 165px;
    align-items: center;
    /* margin-top: 44px; */
    text-align: center;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .welcome {
    font-size: 16px;
    margin-top: 21px;
  }
  .edit {
    font-size: 12px;
    margin-top: 0px;
    cursor: pointer;
  }

  .heading {
    margin-bottom: -21px;
    margin-top: 199px;
  }
}

@media screen and (max-width: 714px) {
  .heading {
    width: 385px;
  }
}
@media (max-width: 767px) {
  .w-700-a {
    width: 750px !important;
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  .w-1500-a {
    width: 950px !important;
  }
}
@media screen and (max-width: 767px) {
  .imageParentDiv {
    display: block;
    gap: 5px;
    padding: 0 10px;
  }
  .imagediv1 {
    margin-top: 0px;
  }
  .headingdiv1,
  .headingdiv2,
  .headingdiv3 {
    display: unset;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-size: 12px;
    height: auto;
    margin-bottom: 0;
  }
}
